@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
    ;
}

.big-div {
    position: relative;
}

.description {
    position: relative;
    width: 321px;
    border: 2px solid var(--color-primary);
    border-right-style: none;
    height: 407px;
    border-radius: 20px 0 0 20px;
    ;
}

.background {
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    z-index: -1;
    object-fit: fill
}

.logo {
    width: 40px;
    margin: 20px
}

.description>h2 {
    font-family: 'Ms Madi', cursive;
    color: var(--color-black);
    padding-top: 28px;
    padding-left: 75px;
    font-size: 30px;

}

.description>p {
    font-size: 15px;
    padding: 15px 30px;
    margin: 15px;
    text-align: center;
    line-height: 1.4;
    background-color: var(--color-background-1);
}

.form {
    background-color: var(--color-yellow);
    border: 2px solid var(--color-primary);
    border-left-style: none;
    width: 380px;
    height: 407px;
    border-radius: 0 8px 8px 0;
}


.form>h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 25px 30px;
    background-color: var(--color-white);
    height: 70px;
    width: 330px;
    border-radius: 8px;

}


.hidden {
    display: none;
}